extends layout

block content
    div#widget-container
        div#home-logo
            a(href='/')
                span(class='link-spanner')
        div.confirmation-box
            h2.top-title #{confirmationMessage}
        div#button-container
            input(type='button', class='form-button', id='show-response-button', value='Show the response')
            input(type='button', class='form-button', id='hide-response-button', value='Hide the response')
block preview
    div#preview-container
        pre
            code(class='json') The API has returned a response with status code #{responseStatus} and body:
                p #{responseBody}
