extends layout

block content
    form(id='select-availability', name='search', method='post')
        div#restaurant-selection
            div.form-element
                label Restaurant ID:
                select(name='restaurantId')
                    each id in [1,2,3,9,10,11]
                        option(value=id)= id
        div#book-by
            div.form-element
                label Book by:
                select(name='timeSelect')
                    each item in timeSlots
                        option(value=item) #{timeCreator.convertTime(item)}
        div#party-size
            div.form-element
                label Party size:
                select(name='partySize')
                    each size in [1,2,3,4,5,6]
                        option(value=size)= size
        div#booking-date
            div.form-element
                label Date:
                input(type='text', name='date', id='datepicker')
        div#submit-button
            div.form-element
                input(type="submit", value="Check Availability")

