extends layout

block content
    form(name='search', action='/search_availability', method='post')
        div#book-by
            div.form-element
                label Book by:
                select(name='timeselect')
                    each item in timeSlots
                        option(value=item) #{timeCreator.convertTime(item)}
        div#party-size
            div.form-element
                label Party size:
                select(name='partysize')
                    option(value=1) 1
                    option(value=2) 2
                    option(value=3) 3
                    option(value=4) 4
                    option(value=5) 5
                    option(value=6) 6
        div#booking-date
            div.form-element
                label Date:
                input(type='text', name='date', id='datepicker')
        div#submit-button
            div.form-element
                input(type="submit", value="Check Availability")

