extends layout

block content
    form(id='select-availability', name='search', method='post')
        div#form-container
            div(class="form-element", id="party-size")
                select(name='partySize')
                    each size in [1,2,3,4,5,6]
                        option(value=size)= size + ' people'
            div(class="form-element", id="booking-date")
                input(type='text', name='date', id='datepicker')
            div(class="form-element", id="book-by")
                select(name='timeSelect', id='timepicker')
            div(class="form-element", id="restaurant-selection")
                select(name='restaurantId')
                    each id in [1,2,3,9,10,11]
                        option(value=id)= id
            div(class="form-element", id="submit-button")
                input(type="submit", class="button", value="Find a table")

