extends layout

block content
    span #{provisionMessage}
    h2 Enter your data to confirm your reservation:
    form.confirmation-form(name='confirmation', action='/#{id}/confirm_reservation', method='post')
        input(type="hidden", name="reservationToken", value=reservationToken)
        div.form-element
            label First name:
            input(type='text', name='firstName', id='firstname')
        div.form-element
            label Last name:
            input(type='text', name='lastName', id='lastname')
        div.form-element
            label Email:
            input(type='email', pattern="[^ @]*@[^ @]*", name='emailAddress', id='e-mail')
        div.form-element
            label Phone:
            input(type='tel', name='phoneNumber', id='phone')
        div.form-element
            input(type="submit", value="Confirm!")
