extends layout

block content
    h1 Book
    ul
        each item in results
            li #{moment(item.dateTime).format('HH:mm')}
                ul
                    each offer in item.offers
                        li #{offer.name}
