body {
    font-size: 1.2em;
    font-weight: normal;
    font-style: normal;
    padding: 0;
    margin: 0;
    cursor: default;
    background: #e0ddda;
}

select {
    position: absolute;
    opacity: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    z-index: 2;
}

a {
    display: block;
    position: relative;
    padding: 1rem;
    height: 32px;
    z-index: 1;
    font-family: "franklin-gothic-urw", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100%;
    cursor: pointer;
    color: #333;
    background-color: #FFF;
}

option {
    font-weight: normal;
    display: block;
    padding: 0px 2px 1px;
    white-space: pre;
    min-height: 1.2em;
}

.arrow {
    color: #999;
    float: right;
}

#datepicker {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: 2;
}

#home-logo {
    display: block;
    width: 100%;
    height: 20%;
    background: url(/img/OTlogo.png) 50% 50% no-repeat;
    background-color: #ffffff;
    background-size: 100%;
}

#select-availability {
    width: 100%;
    height: 80%;
}

#form-container {
    width: 100%;
    height: 100%;
}

#widget-container {
    width: 300px;
    height: 400px;
}


.button {
    width: 100%;
    height: 100%;
    background-color: #da3743;
    color: #fff;
    cursor: pointer;
    font-family: "franklin-gothic-urw", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100%;
    font-weight: 300;
    border: 0;
    border-radius: 0;
}

a:visited {
    color: black;
}

.form-element {
    position: relative;
    height: 20%;
}

div.ui-datepicker{
    font-size:10px
}

form.provision-form {
    margin-bottom: 20px;
}

li.offer-line {
    font-size: 12px;
}

#offer-list li {
    list-style-type: none;
}

.offer-popup {
    display: none;
}

#availability-list li {
    list-style-type: none;
}

.available-hour {
    font-size: 12px;
}