/*Generic*/

body {
    font-size: 1.2em;
    font-weight: normal;
    font-style: normal;
    padding: 0;
    margin: 0;
    cursor: default;
    background: #e0ddda;
    font-family: 'Source Sans Pro', sans-serif;
}

input, select, textarea, button, .ui-tooltip-content {
    font-family:inherit;
}

select {
    position: absolute;
    opacity: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    z-index: 2;
}

option {
    display: block;
    padding: 0 2px 1px;
    white-space: pre;
}

h2 {
    display: block;
    font-weight: 100;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/*Containers*/

div#app-container {
    width: 900px
}

div#body-container {
    width: 100%;
    height: 80%;
}

div#widget-container {
    width: 300px;
    height: 400px;
    float: left;
    background-color: #ffffff;
}

div#preview-container {
    width: 33%;
    height: 400px;
    margin-left: 300px;
    background-color: #ffffff;
    display: none;
}

div#preview-header {
    width: 100%;
    height: 5%;
}

div#preview-content {
    width: 100%;
    height: 95%;
    font-size: 80%;
    word-wrap: break-word;
    overflow: auto;
}

div.availability-grid-third {
    width: 33%;
    float: left;
    position: relative;
    top: 10px;
}

div#home-logo {
    display: block;
    position: relative;
    width: 100%;
    height: 20%;
    background: url(/img/OTlogo.png) 50% 50% no-repeat;
    background-size: 90%;
}

div.form-element {
    position: relative;
    height: 20%;
}

div.confirmation-notice-box {
    height: 15%;
}

div.confirmation-title-box {
    height: 5%;
}

div.confirmation-box {
    height: 80%;
}

div.notice-box {
    height: 20%;
}

div.offer-box {
    height: 20%;
    position: relative;
}

div#availability-list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px 10px 0px 10px;
    height: 60%;
}

/*Links*/

a.select-link {
    display: block;
    position: relative;
    padding: 1rem;
    height: 32px;
    z-index: 1;
    font-weight: 100;
    font-size: 100%;
    cursor: pointer;
    color: #333;
    background-color: #FFF;
}

a.offers-tip {
    width: 100%;
    text-align: center;
    font-size: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

a:visited {
    color: black;
}

/*Datepicker*/

div.ui-datepicker {
    width: 250px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 80%;
    margin-left: 0;
    margin-top: 0;
}

table.ui-datepicker-calendar {
    color: #999;
    font-weight: normal;
}

div.ui-widget-header {
    background: #ffffff;
    border: 0;
    font-weight: normal;
    font-size: 110%;
    color: rgba(51, 51, 51, 0.79);
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: 300;
    border: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    background: #ffffff;
}

/*Forms*/

form#select-availability {
    height: 100%;
}

form.confirmation-form {
    background-color: white;
    height: 60%;
}

form.provision-form {
    margin-bottom: 20px;
}

/*Input*/

input#datepicker {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
}

input.button {
    width: 100%;
    height: 100%;
    background-color: #da3743;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    font-weight: 100;
    border: 0;
    border-radius: 0;
}

input.confirmation-field {
    width: 290px;
    height: 18.75%;
    border: none;
    font-weight: 100;
    font-size: 100%;
    padding: 0 0 0 10px;
}

input#confirmation-button {
    height: 25%;
}

input.form-button {
    font-weight: 100;
    border-radius: 3px;
    display: block;
    border: 1px solid #da3743;
    color: #fff;
    min-width: 4.125rem;
    line-height: 1.2em;
    text-align: center;
    font-size: 1rem;
    background: #da3743;
    white-space: nowrap;
    margin: 15px auto 15px auto;
    padding: 3px 6px 3px 6px;
}

input:focus {
    outline: 0;
}

/*Titles*/

h2.top-title {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 90%;
}

h2.provision-title {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
    font-size: 70%;

}

/*Paragraph*/

.response-paragraph {
    padding: 0 20px 0 20px;
}

/*Spans*/

span.link-spanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/*Special Elements*/

i.select-arrow {
    color: #999;
    float: right;
}

.ui-tooltip-content {
    font-size: 70%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

/*Calendar Overwrite*/

#ui-datepicker-div {
    left: 15px !important;
    width: 262px !important;
    top: 190px !important;
}

thead {
    border-bottom: 1px solid rgba(0,0,0,.08) !important;
}

.ui-widget-content {
    border: 1px solid #F1F1F1 !important;
}

.ui-state-active {

    background-color: rgb(218, 55, 67) !important;
    color: #FFF !important;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    margin-left: 5px;
    font-size: 16px;
    height: 26px;
    width: 26px;
    line-height: 26px;
}

.ui-datepicker td span, .ui-datepicker td a {
    text-align: center !important;
    padding: 0px !important;
}


.ui-icon-circle-triangle-e {
    background-position: -35px 0px !important;
}

.ui-icon-circle-triangle-w {
    background-position: -90px 0px !important;
}