body {
    font-size: 1.2em;
    font-weight: normal;
    font-style: normal;
    padding: 0;
    margin: 0;
    cursor: default;
    background: #e0ddda;
}

select {
    position: absolute;
    opacity: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    z-index: 2;
}

a.select-link {
    display: block;
    position: relative;
    padding: 1rem;
    height: 32px;
    z-index: 1;
    font-family: "franklin-gothic-urw", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 100%;
    cursor: pointer;
    color: #333;
    background-color: #FFF;
}

option {
    font-weight: normal;
    display: block;
    padding: 0 2px 1px;
    white-space: pre;
    min-height: 1.2em;
}

.select-arrow {
    color: #999;
    float: right;
}

#datepicker {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: 2;
}

#home-logo {
    display: block;
    position: relative;
    width: 100%;
    height: 20%;
    background: url(/img/OTlogo.png) 50% 50% no-repeat;
    background-size: 90%;
}

#app-container {
    width: 900px
}

#select-availability {
    width: 100%;
    height: 80%;
}

.confirmation-form {
    background-color: white;
    height: 60%;
}

#body-container {
    width: 100%;
    height: 80%;
}

#widget-container {
    width: 300px;
    height: 400px;
    float: left;
    background-color: #ffffff;
}

#preview-container {
    margin-left: 300px;
    background-color: #ffffff;
    font-family: "franklin-gothic-urw", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 70%;
    display: block;
    word-wrap: break-word;
    padding: 10px 10px 10px 10px;
}


.button {
    width: 100%;
    height: 100%;
    background-color: #da3743;
    color: #fff;
    cursor: pointer;
    font-family: "franklin-gothic-urw", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100%;
    font-weight: 100;
    border: 0;
    border-radius: 0;
}

#confirm-button {
    height: 25%;
}

h2 {
    font-weight: 100;
}

a:visited {
    color: black;
}

.top-title {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 90%;
    font-family: "franklin-gothic-urw", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.confirmation-notice-box {
    height: 15%;
}

.confirmation-title-box {
    height: 5%;
}

.select-slot-title {
    width: 100%;
    text-align: center;
    font-size: 80%;
    font-family: "franklin-gothic-urw", Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.provision-title {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-family: "franklin-gothic-urw", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.form-element {
    position: relative;
    height: 20%;
}

.confirmation-form-element {
    position: relative;
    height: 15%;
}

.confirmation-box {
    height: 80%;
}

div.ui-datepicker{
    font-size:10px
}

form.provision-form {
    margin-bottom: 20px;
}

div.offer-popup {
    font-family: "franklin-gothic-urw", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
}

li.offer-line {
    margin-bottom: .5rem;
}

.available-button {
    font-family: "franklin-gothic-urw", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 100;
    border-radius: 3px;
    display: block;
    border: 1px solid #da3743;
    color: #fff;
    min-width: 4.125rem;
    line-height: 1.2em;
    text-align: center;
    font-size: .9rem;
    background: #da3743;
    white-space: nowrap;
    margin: 15px auto 15px auto;
    padding: 3px 6px 3px 6px;
}

#show-response-button {
    font-family: "franklin-gothic-urw", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 100;
    border-radius: 3px;
    display: block;
    border: 1px solid #da3743;
    color: #fff;
    min-width: 4.125rem;
    line-height: 1.2em;
    text-align: center;
    font-size: 1.1rem;
    background: #da3743;
    white-space: nowrap;
    margin: 15px auto 15px auto;
    padding: 3px 6px 3px 6px;
}

#hide-response-button {
    font-family: "franklin-gothic-urw", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 100;
    border-radius: 3px;
    display: block;
    border: 1px solid #da3743;
    color: #fff;
    min-width: 4.125rem;
    line-height: 1.2em;
    text-align: center;
    font-size: 1.1rem;
    background: #da3743;
    white-space: nowrap;
    margin: 15px auto 15px auto;
    padding: 3px 6px 3px 6px;
}

#offer-list li {
    list-style-type: none;
}

.offer-popup {
    display: none;
}

#availability-list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px 10px 0px 10px;
    height: 60%;
}


.availability-grid-third {
    width: 33%;
    float: left;
    position: relative;
    top: 10px;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

button:focus {
    outline: 0;
}

.index-input {
    width: 290px;
    height: auto;
    border: none;
    font-family: "franklin-gothic-urw", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 100%;
    padding: 5px 0 5px 10px;
}

input:focus {
    outline: 0;
}

.confirmation-field {
    width: 290px;
    height: 18.75%;
    border: none;
    font-family: "franklin-gothic-urw", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 100%;
    padding: 0px 0 0px 10px;
}

.notice-box {
    height: 20%;
}

.offer-box {
    width: 100%;
    height: 20%;
    position: relative;
}

.link-spanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.offers-tip {
    width: 100%;
    text-align: center;
    font-size: 80%;
    font-family: "franklin-gothic-urw", Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ui-tooltip-content {
    font-size: 70%;
    font-family: "franklin-gothic-urw", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#preview-container {
    display: none;
}